<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Page</title>
</head>
<body>
<h1>About Simon's Pizzeria</h1>
<div class="navigation">
    <button><a href="http://localhost:8080/mainscreen">Homepage</a></button>
    <button><a href="http://localhost:8080/About">About Us</a></button>
</div>
<p>Here at Simon's pizzeria, we aim to bring joy to our customers one slice at a time. Each pizza is made with a mixture
of homemade ingredients and organic ingredients picked from the finest vendors in our local community.</p>
<p>With every purchase, we donate 5% of the proceeds towards a different charity and organization every month so let's eat up!</p>
</body>
</html>