<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Page</title>
</head>
<body>
<h1>About Simon's Pizzeria</h1>
<div class="navigation">
    <button><a href="http://localhost:63342/D287_project/src/main/resources/templates/mainscreen.html?_ijt=jon6bg8ohe38s0c90oee0l0nbn">Homepage</a></button>
    <button><a href="http://localhost:63342/D287_project/src/main/resources/templates/About.html?_ijt=b0lp58l6dvhk2u2bhej37i6q6v">About Us</a></button>
</div>
<p>Here at Simon's pizzeria, we aim to bring joy to our customers one slice at a time. Each pizza is made with a mixture
of homemade ingredients and organic ingredients picked from the finest vendors in our local community.</p>
<p>With every purchase, we donate 5% of the proceeds towards a different charity and organization every month so lets eat up!</p>
</body>
</html>